!!! 5
html(lang="en")
  head
    title Arduino control nodeuino for JavaScript and Node.js with WebSockets and HTML5
    link(rel="stylesheet", href="styles/bootstrap/init.css")
    link(rel="stylesheet", href="styles/prettify.css")
    link(rel="stylesheet", href="styles/init.css")
    script(data-main="scripts/app." + jsApp, type="text/javascript", src="scripts/vendor/require-jquery.js")
    script(type="text/javascript", src="http://localhost:8090/socket.io/socket.io.js")
  body
    .container!=body