body {
	background: $brandYellow;
}

section {

	padding:0 2rem;

	h1 {
		margin-top: 8.4rem;
		padding:0;
		text-transform: uppercase;
		color:$darkGrey;

		&.search {
			padding-left:4rem;
			background:url("../img/sucess_tick_01.svg") no-repeat left bottom;
		}
	}

	h2 {
		margin-top:4rem;
		text-transform: uppercase;
		color:$darkGrey;
	}

	ul.results {
		border-top: 1px solid $darkYellow;
		margin-top: 2rem;
		width:100%;
		li {
			border-bottom: 1px solid $darkYellow;
			padding: 2.5rem 0;
			color:$darkGrey;
			position:relative;

			a.tag {
				background-color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				color:$darkGrey;
				padding:1rem 3rem;
				position: absolute;
				right:0;
				top:1.5rem;
				&:hover {
				background-color: $darkGrey;
				color:#fff;
				}
			}
		}
	}

	form.search {
		padding: 2.8rem 0;

		label {
			display:block;
			color:$darkGrey;
		}

		input {
			padding: 1rem;
			width: 30rem;
			display:block;
			border:none;
			float:left;
			margin:2rem 0;
			color:$darkGrey;
		}
		input.button {
			float:left;
			margin:2rem 0;
			height:8.6rem;
			width:8.6rem;
			border:none;
			background: url("../img/search_icon.svg") no-repeat center $darkGrey;
			&:hover {
				cursor:pointer;
			}
		}
	}

	div.artwork {
		clear:both;
	}

	p.cancel {
		text-decoration: underline;
		padding:2rem 0 8.4rem 0;
		color:$darkGrey;
	}

}

