section {
	h1.tagged {
	padding-left:4rem;
	background:url("../img/sucess_tick_02.svg") no-repeat left bottom;
	}
	p {
		padding:2rem 0;
	}
	span.tag {
		padding:1.8rem 1.5rem;
		text-transform: uppercase;
		display: inline-block;
	}	
}

