lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.DS_Store
.deps
lib_spotify
settings
cache
spotify_login.js
image_matcher/target
image_matcher/data
.sass-cache
*.css