lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.DS_Store
.deps
settings
cache
image_matcher/target
image_matcher/data
.sass-cache
*.css
app/dist
spotify_appkey.key