header.jumbotron.subhead#overview
    h1 Listening for Events on Arduino 
  .row.example
    .span12#e3-exampleConnection
      p
        a.btn(href="#")#e3-buttonConnect
          i.icon-refresh
          |  Connect to Arduino
      .alert.alert-info Please connect to your Arduino using the button. 
      .alert.hide.alert-error Unable to connect to Arduino!
      .alert.hide.alert-success Connected! Button is <label class="label" id="buttonStatus">not pushed</label>
  